@use "sass:color";

$black: #1A181B;
$white: #ffffff;
$gold: #D8C293;

:root {
  --bg-color: #{$black};
  --black-color: #{$black};
  --gold-color: #{$gold};
  --text-color: #{$white};
  --white-color: #{$white};
  --black-color-dark: color.adjust($black, $lightness: -10%);
  --gold-color-dark: color.adjust($gold, $lightness: -10%);
  --white-color-dark: color.adjust($white, $lightness: -10%);
  --black-color-light: color.adjust($black, $lightness: 10%);
  --gold-color-light: color.adjust($gold, $lightness: 10%);
  --white-color-light: color.adjust($white, $lightness: 10%);
}

$text-color: var(--text-color);
$bg-color: var(--bg-color);

$gold-color: var(--gold-color);
$gold-color-dark: var(--gold-color-dark);
$gold-color-light: var(--gold-color-light);

$white-color: var(--white-color);
$white-color-dark: var(--white-color-dark);
$white-color-light: var(--white-color-light);

$black-color: var(--black-color);
$black-color-dark: var(--black-color-dark);
$black-color-light: var(--black-color-light);