@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

#__nuxt {
    height: 100%;
}

body {
    background: $bg-color;
}

button,
a,
input,
textarea {
    color: $text-color;

    @include focus-outline;
}