@use "../abstract/functions" as *;
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

$font: "Inter", system-ui, sans-serif;
$line-height-base: 1.6;

body {
	color: $text-color;
	font-family: $font;
	font-size: rem(12);
	line-height: $line-height-base;

	@include media-query("tablet") {
		font-size: rem(14);
	}

	@include media-query("desktop") {
		font-size: rem(16);
	}
}